<div>
    <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
</div>